.chart {
  position: relative;
}

.project-pie {
  --thickness: 16px;
  --_inner: calc(70% - var(--thickness));
  --_outer: calc(var(--_inner) + 1px);

  mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));

  aspect-ratio: 1;
  inline-size: 100px;
  border-radius: 50%;
  position: relative;
}

.project-pie-shadow-outer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 17px 12px rgba(255, 68, 43, 0.08);
}

.project-pie-shadow-inner {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 17px 12px rgba(255, 68, 43, 0.08);
}

.session-pie {
  --thickness: 16px;
  --_inner: calc(70% - var(--thickness));
  --_outer: calc(var(--_inner) + 1px);

  mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));

  aspect-ratio: 1;
  inline-size: 100px;
  border-radius: 50%;
  transform: rotate3d(0, 1, 0, 180deg);

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.session-pie-shadow-outer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 17px 12px rgba(218, 235, 2, 0.08);
}

.session-pie-shadow-inner {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 17px 12px rgba(218, 235, 2, 0.08);
}
