.session-calendar .Calendar__weekDays {
  padding-top: 20px; /* add padding top because of removed  initial padding top of calendar*/
  font-size: 16px !important;
  color: #8c8c8c;
  font-family: "URWGeometric" !important;
}

@media screen and (max-width: 360px) {
  .session-calendar .Calendar__weekDays {
    margin: 0px !important;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 320px) {
  .session-calendar .Calendar__weekDays {
    margin: 0px !important;
    font-size: 14px !important;
  }
}
